:root {

}

body{
  margin: 0;
}

h1{
  font-size: 18px;
  font-family: 'Roboto', 'Arial', monospace;
  font-weight: 400;
  margin-bottom: 0px;
}
h2{
  font-size: 16px;
  font-family: 'Roboto', 'Arial', monospace;
  font-weight: 400;
  color: rgba(17, 17, 17, 0.6);
  display: inline-block;
}

h3{
  font-size: 13px;
  font-family: 'Roboto', 'Arial', monospace;
  font-weight: 400;
  color: rgba(97, 97, 97, 0.6);
  display: inline-block;
  margin-right: 10px;
  margin-left: 5px;
  vertical-align: middle;
}

h4{
  font-size: 16px;
  font-family: 'Roboto', 'Arial', monospace;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  line-height: 30px;
}

#title{
  width: 100%;
}

#navigational-bar{
  height: 9vh;
  width: 100%;
  position: relative;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 0;
  border-bottom: solid 2px rgba(240, 240, 240, 0.6);;
  margin-bottom: 20px;
}

#logo{
  height: 45%;
  margin-right: 0%;
  position: relative;
  top: 0%;
}

#find {
  height: 43%;
  margin-left: 0px;
  top: 5%;
  margin-right: 17%;
  border: 2px rgb(230,230,230) solid;
  border-left: 0px;
}

#other-top {
  height: 70%;
  top: 12%;
}


.navi-icon{
  height: 27%;
  position: relative;
  top: -10%;
  display: inline-block;
  margin-right: 2%;
}

#search-bar {
  width: 44%;
  position: relative;
  margin-left: 5%;
  font-size: 18px;
  height: 40%;
  top: -10%;
  margin-right: 0px;
  padding-left: 0.5%;
  color: rgb(158,158,158);
  border: solid 2px rgb(230,230,230);
}

#suggested-video-container{
  padding-left: 20px;
}

#autoplay{
  float:right;
}

#up-next{
  height: 30px;
  text-align: middle;
}

#content {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 67% 33%;
  width: 95%;
  height: 400px;
}
#info-container{
    border-bottom: solid 2px rgba(240, 240, 240, 0.6);
}

#video-container {
  width: 100%;
  height: 72vh;
  margin-bottom: 5px;

}

#menu-container{
  float: right;
  display: inline-block;
  margin-right: 20px;
  text-align: center;
  vertical-align: middle;
}

.like-icon, #others{
  position: relative;
  top: 5px;
}

.suggested-video{
  height: 100px;
  width: 100%;

}

.suggested-video img{
  float: left;
  margin-right: 5px;
}

.suggested-video h1{
  font-weight: 590;
  font-size: 14px;
  font-family: 'Roboto', 'Arial', monospace;
  line-height: 16px;
  margin-bottom: 4px;
  margin-top: 4px;
}

.suggested-video h2{
  font-weight: 400;
  font-size: 13px;
  font-family: 'Roboto', 'Arial', monospace;
  color: rgba(17,17,17,0.6);
  line-height: 18px;
  margin-top: 0px;
}
#random-line{
  border-top: 2px solid rgb(238,238,238);
  height: 2px;
  margin-top: 12px;
  margin-bottom: 12px;
}
